* {
  border-radius: 0 !important;
}

body {
  background-image: url("../images/sf-skyline.jpeg");
  background-position-x: 42%;
  background-position-y: top;
  background-size: cover;
  background-attachment: fixed;
}

#welcomeModal {
  /*width: 70%;
  height: 50%;*/
}

.modal-content {
  height: 37%;
  min-height: 337px;
  width: 70%;
  max-width: 1020px;
  padding: 30px;
  padding-top: 13px;
  position: relative;
  left: 15%;
  top: 36%;
  opacity: .9;
  background-color: #1a1d33;
  color: #f38a05;
}

#welcomeMessage {
  font-size: 25px;
}

.interest-btn {
  background-color: #3f3e3e;
  opacity: 1.5;
  margin-right: 10px;
}

.form-control {
  background-color: silver;
}

 #deck div {
  height: 200px;
}

 }