* {
  border-radius: 0 !important;
}

::-webkit-scrollbar { 
  display: none; 
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

body {
  background-image: url("../images/sf-skyline.jpeg");
  background-position-x: 42%;
  background-position-y: top;
  background-size: cover;
  background-attachment: fixed;
}

#welcomeModal {
  /*width: 70%;
  height: 50%;*/
}

.modal-content {
  height: 37%;
  min-height: 337px;
  width: 70%;
  max-width: 1020px;
  padding: 30px;
  padding-top: 13px;
  position: relative;
  left: 22%;
  top: 36%;
  opacity: .9;
  background-color: #1a1d33;
  color: #f38a05;
  -webkit-animation-duration: .6s;
  /*-webkit-animation-delay: 2s;*/
  -webkit-animation-iteration-count: 1;
}

#welcomeMessage {
  font-size: 25px;
}

.interest-btn {
  background-color: #3f3e3e;
  opacity: 1.5;
  margin-right: 10px;
  color: #f38a05;
}

.form-control {
  background-color: silver;
}


/*#resultsRow {
  position: fixed;
}*/

#resultsPanel {
  opacity: .9;
  background-color: #1a1d33;
  border: none;
  width: 68%;
  height: 56%;
  position: fixed;
  bottom: 13%;
  left: 16%;
}

#resultsPanel > .panel-heading {
  background-color: #3f3e3e;
  opacity: 1.5;
  color: #f38a05;
  font-size: 20px !important;
  border: none;
}

#resultsPanel > .panel-body {
  position: relative;
  height: 91%;
}

#resultsPanel > .panel-body > .row {
  height: 100%;
}

.row .col-xs-9 {
  height: inherit;
}

#resultsPanel .interest-btn {
  margin-bottom: 5px;
}

#deck {
  border-left: 2px solid darkgrey;
  overflow-y: scroll;
  height: inherit;
  overflow-x: hidden;
  position: inherit;
}

#deck::-webkit-scrollbar { 
  width: 2px; 
}

#deck > div {
  height: 50%;
  color: #ddd;
  cursor: pointer;
}

#deck > div {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#deck > div:hover, #deck > div:focus, #deck > div:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#deck div img {
  opacity: 1;
}

.popover{
  color: black !important;
  height: auto;
}

.popover-content {
  overflow-y: scroll;
  height: 72%;
}


#slider {
  width: 1000px;
  overflow: hidden;
  margin: 10px auto;
  background-color: grey;
}

#banner {
  height: 233px;
  width: 4000px;
}

/*keyframe animations*/
.bannerCardContent {
  -webkit-animation: bannermove 15s linear infinite;
     -moz-animation: bannermove 15s linear infinite;
      -ms-animation: bannermove 15s linear infinite;
       -o-animation: bannermove 15s linear infinite;
          animation: bannermove 15s linear infinite;
  margin-right: 5px;
  display: inline-block;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

 
.bannerCardContent img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.bannerCardContent img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
 
  -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}


/*Media Queries*/
@media screen and (max-width:980px) {
  body { 
    font-size: .9em;
  }
  #slider img {
    width:200px;
    height:100px;
  }
  
  .popover-content {
    font-size: .7em;
  }
  .popover-footer a {
    font-size: .9em;
  }
  .btn {
  width:100%;
}
}
@media screen and (max-width:768px) {
}
@media screen and (max-width:640px) {

#slider img {
  width: 300px;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
}
